# These are files local to my machine that I don't want messing up the GitHub repo.
.DS_Store
.vscode
# My personal preference, the program should create it's own at startup.
App/pref/savedPaths.txt
# Notes and test stuff are kept here, so they aren't a part of the repo.
Temp
# You'll have to build your own pycache, sorry!
__pycache__
*.pyc
*.pyo
*.pyd

# PyInstaller build process
QuadExporter.spec
Exports/
dist/
build/
App/build/
App/dist/
*.exe
*.manifest
*.toc
*.pyz
*.pkg
warn-*.txt
xref-*.html
localpycs/

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
*.swp
*.swo
*~